<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="M:\EmailPaymentAdvice\Logs\App.log"/>
      <RollingStyle value="size"/>
      <appendToFile value="true"/>
      <maximumFileSize value="20MB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd MMM yyyy HH:mm:ss,fff} %level: %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!-- SendTo value = "student" for production, or alternate email for testing -->
    <add key="SendTo" value="RMittelman@gmail.com"/>
    <!-- Schools value = comma-seperated list of schools to process -->
    <add key="Schools" value="CBD"/>
    <!-- FromDaysAgo value = # of days prior to current date to START finding payments to process -->
    <add key="FromDaysAgo" value="12"/>
    <!-- ToDaysAgo value = # of days prior to current date to STOP finding payments to process -->
    <add key="ToDaysAgo" value="5"/>
    <add key="SendCC" value="RMittelman@gmail.com,Derek@shamrocksfa.com"/>
    <!-- SendBCC value="school" for production, or alternate email for testing -->
    <add key="SendBCC" value="Ron@rgsmm.com"/>
  </appSettings>
</configuration>
